.hello {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
  
  .hello1 {
    background-color: #ec4899;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    white-space: nowrap;
  }
  
  .hello2 {
    background-color: #ffffff;
    color: #000000;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    white-space: nowrap;
  }